:root {
  /* --primary_colour: #8cad37;
  --secondary-colour: #dcff85;
  --middle-colour: #d1fa68;
  --accent-colour-1: #8726ad;
  --accent-colour-2: #d069fa; */

  --theme-colour-1: #f8f9fd;
  --theme-colour-2: #758de7;
  --theme-colour-3: #97acef;
  --theme-colour-4: #121653;
  --theme-colour-5: #7058a2;
  --theme-colour-6: #c4a0a2;
  --theme-colour-7: #7095a5;
}
